<div class="display">
	<header><h3>Loaded materials</h3></header>

	<article>
	{{for data.materials}}
		<div class="section">
			<div class="labelList-item">
				<div class="content">{{:helper.link('', 'eject', {'eject_material' : value.id}, null, 'statusValue')}}</div>
				<span class="label">{{:value.name.toTitleCase()}}</span>
				<div class="content">{{:Math.round(value.amount * 100) / 100}}/{{:data.mat_capacity}}</div>
			</div>
		</div>
	{{empty}}
		<section>
			<span class="label">None loaded</span>
		</section>
	{{/for}}
	</article>
</div>
